html {
  background-color: #30404d;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.container {
}

.pre-code {
  display: flex;
  flex-direction: column;
}
